{% load static %}
{% load static %}

<h2>🛍 محصولات مشابه</h2>

<div class="products-grid">

    {% for product in similar_products %}

    <div class="product-card">

        {% if product.discount_percent %}
            <span class="discount">
                {{product.discount_percent}}٪
            </span>
        {% endif %}

        <button class="wishlist-btn">
            <i class="fa-regular fa-heart"></i>
        </button>

        <a href="{% url 'shop:product-detail' slug=product.slug %}" class="product-image">

            <img src="{{product.image.url}}" alt="{{product.title}}">

        </a>

        <div class="product-body">

            <h3 class="product-title">
                {{product.title}}
            </h3>

            <p class="product-category">

                <i class="fa-solid fa-tag"></i>

                {% for category in product.category.all %}
                    {{category.title}}{% if not forloop.last %} ، {% endif %}
                {% empty %}
                    بدون دسته‌بندی
                {% endfor %}

            </p>

            <div class="product-rate">
                ⭐ {{product.avg_rate}}
            </div>

            <div class="product-price">

                {% if product.discount_percent %}

                    <span class="old-price">
                        قیمت اصلی:
                        {{product.price}} تومان
                    </span>

                    <span class="new-price">
                        {{product.get_price}} تومان
                    </span>

                {% else %}

                    <span class="new-price">
                        {{product.price}} تومان
                    </span>

                {% endif %}

            </div>

            <div class="product-stock">

                {% if product.stock > 0 %}

                    <i class="fa-solid fa-circle-check"></i>
                    موجود

                {% else %}

                    <i class="fa-solid fa-circle-xmark"></i>
                    ناموجود

                {% endif %}

            </div>

        </div>

        <div class="product-footer">
            {% if product.stock != 0 %}
            <form action="{% url 'cart:session-add-product' %}" method="post">
                {% csrf_token %}
                <input type="hidden" name="product_id" value="{{object.id}}">

                    <button type="submit" class="cart-btn">
                        <i class="fa-solid fa-cart-shopping"></i>
                            افزودن به سبد خرید
                    </button>
            
            </form>
            {% else %}
            <button type="button" class="cart-btn disabled" disabled>
                <i class="fa-solid fa-ban"></i>
                 ناموجود 
            </button>
            {% endif %}

            <a href="{% url 'shop:product-detail' slug=product.slug %}" class="view-btn">

                مشاهده محصول

            </a>

        </div>

    </div>

    {% empty %}

    <div class="no-product">

        <i class="fa-solid fa-box-open"></i>

        <h2>

            محصول مشابهی یافت نشد.

        </h2>

    </div>

    {% endfor %}

</div>