{% extends "base.html" %}

{% load static %}
{% load shop_tags %}

{% block content %}


<!-- FEATURE STRIP-->
<section class="features">

  <div class="feature">
    🚚 <span>ارسال سریع</span>
  </div>

  <div class="feature">
    💳 <span>پرداخت امن</span>
  </div>

  <div class="feature">
    🔥 <span>تخفیف‌های روزانه</span>
  </div>

  <div class="feature">
    📞 <span>پشتیبانی واقعی</span>
  </div>

</section>
<section class="promo">

  <div class="promo-img">
    <img src="{% static 'img/hero.jpeg' %}" alt="sale">
  </div>
</section>

<!-- CATEGORIES -->
<h2>محبوب ترین دسته بندی ها  </h2>
<section class="cats">
  {% show_categories %}
</section>

<!--Products-->
{% show_latest_products %}

{% endblock %}