{% extends "base.html" %}
{% load static %}

{% block extra_css %}

<link rel="stylesheet" href="{% static 'css/style.css' %}">
<link rel="stylesheet" href="{% static 'css/cart_summary.css' %}">

{% endblock %}

{% block content %}

<section class="cart-page">

    <!-- ===== Header ===== -->

    <div class="cart-header">

        <h1>

            <i class="fa-solid fa-cart-shopping"></i>

            سبد خرید

        </h1>

        {% if cart_items %}

        <p>

            {{total_quantity}} کالا در سبد خرید شما وجود دارد.

        </p>

        {% endif %}

    </div>

    <!-- ===== Cart Container ===== -->

    <div class="cart-container">

        <!-- ===== Products ===== -->

        <div class="cart-items">

            {% for item in cart_items %}

            <article class="cart-card">

                <!-- تصویر محصول -->

                <div class="cart-image">

                    <img
                        src="{{item.product_obj.image.url}}"
                        alt="{{item.product_obj.title}}">

                </div>

                <!-- اطلاعات محصول -->

                <div class="cart-content">

                    <h3>

                        {{item.product_obj.title}}

                    </h3>

                    <span class="category">

                        {% for cat in item.product_obj.category.all %}

                            {{cat.title}}{% if not forloop.last %} - {% endif %}

                        {% endfor %}

                    </span>

                    <div class="prices">

                        {% if item.product_obj.discount_percent %}

                            <span class="old-price">

                                {{item.product_obj.price}} تومان

                            </span>

                            <span class="new-price">

                                {{item.product_obj.get_price}} تومان

                            </span>

                        {% else %}

                            <span class="new-price">

                                {{item.product_obj.price}} تومان

                            </span>

                        {% endif %}

                    </div>
                                    </div>

                <!-- عملیات سبد خرید -->

                <div class="cart-actions">

                    <div class="quantity-box">

                        <!-- کاهش تعداد -->

                        <form method="post" action="{% url 'cart:session-decrease-product-quantity' %}">
                            {% csrf_token %}

                            <input
                                type="hidden"
                                name="product_id"
                                value="{{item.product_obj.id}}">

                            <input
                                type="hidden"
                                name="action"
                                value="decrease">

                            <button type="submit">-</button>
                        </form>

                        <!-- تعداد -->

                        <span class="quantity-number">

                            {{item.quantity}}

                        </span>

                        <!-- افزایش تعداد -->

                       <form method="post" action="{% url 'cart:session-increase-product-quantity' %}">
                            {% csrf_token %}

                            <input
                                type="hidden"
                                name="product_id"
                                value="{{item.product_obj.id}}">

                            <input
                                type="hidden"
                                name="action"
                                value="increase">

                            <button type="submit">+</button>
                        </form>

                    </div>

                    <!-- حذف محصول -->

                   <form method="post" action="{% url 'cart:session-remove-product' %}">
                        {% csrf_token %}

                        <input
                            type="hidden"
                            name="product_id"
                            value="{{item.product_obj.id}}">

                        <button
                            type="submit"
                            class="delete-btn">

                            <i class="fa-solid fa-trash"></i>

                        </button>
                    </form>

                </div>

            </article>

            {% empty %}

            <!-- سبد خرید خالی -->

            <div class="empty-cart">

                <div class="empty-cart-icon">

                    <i class="fa-solid fa-cart-shopping"></i>

                </div>

                <h2>

                    سبد خرید شما خالی است.

                </h2>

                <p>

                    هنوز محصولی به سبد خرید خود اضافه نکرده‌اید.

                </p>

                <a
                    href="{% url 'shop:product-grid' %}"
                    class="shop-btn">

                    <i class="fa-solid fa-store"></i>

                    مشاهده محصولات

                </a>

            </div>

            {% endfor %}

        </div>

        <!-- ===== خلاصه سفارش ===== -->

        <aside class="cart-summary">

            <div class="summary-card">

                <h3>

                    <i class="fa-solid fa-receipt"></i>

                    خلاصه سفارش

                </h3>
                <!-- تعداد کالا -->

                <div class="summary-row">

                    <span>

                        تعداد کالاها

                    </span>

                    <strong>

                        {{total_quantity}} کالا

                    </strong>

                </div>

                <!-- جمع قیمت -->

                <div class="summary-row">

                    <span>

                        جمع قیمت کالاها

                    </span>

                    <strong>

                        {{total_price}} تومان

                    </strong>

                </div>

                <!-- تخفیف -->

                <div class="summary-row discount">

                    <span>

                        تخفیف

                    </span>

                    <strong>

                        {{discounts}} تومان

                    </strong>

                </div>

                <!-- هزینه ارسال -->

                <div class="summary-row">

                    <span>

                        هزینه ارسال

                    </span>

                    <strong class="free">

                        رایگان

                    </strong>

                </div>

                <hr>

                <!-- مبلغ نهایی -->

                <div class="summary-row total">

                    <span>

                        مبلغ قابل پرداخت

                    </span>

                    <strong>

                        {{total_price}} تومان

                    </strong>

                </div>
                {% if not cart_items %}
                 <a
                    href="{% url 'shop:product-grid' %}"
                    class="continue-btn">

                    <i class="fa-solid fa-arrow-right"></i>

                    ادامه خرید

                </a>
                 
                {% else %}
                <a href="{% url 'order:checkout' %}" class="checkout-btn">

                    <i class="fa-solid fa-credit-card"></i>

                    ادامه فرایند پرداخت

                </a>
                {% endif %}
               
                <!-- باکس پرداخت امن -->

                <div class="secure-box">

                    <i class="fa-solid fa-shield-halved"></i>

                    <div>

                        <strong>

                            پرداخت امن

                        </strong>

                        <p>

                            تمامی تراکنش‌ها با استفاده از پروتکل SSL رمزنگاری می‌شوند.

                        </p>

                    </div>

                </div>

            </div>

        </aside>

    </div>

</section>

{% endblock %}