{% extends "base.html" %}
{% load static %}

{% block extra_css %}

{{ block.super }}

<link rel="stylesheet" href="{% static 'css/dashboard/admin/address_create.css' %}">

{% endblock %}

{% block content %}

<section class="address-create-page">

    <div class="address-create-container">

        <!-- Header -->

        <div class="page-header">

            <div class="header-left">

                <span class="page-tag">

                    مدیریت کپن ها

                </span>

                <h1>

                    افزودن کپن جدید

                </h1>

                <p>

                    لطفاً اطلاعات کپن خود را با دقت وارد کنید.

                </p>

            </div>

            <div class="header-icon">

                <i class="fa-solid fa-location-dot"></i>

            </div>

        </div>

        <!-- Form Card -->

        <div class="address-form-card">

            <form method="post">

                {% csrf_token %}
                <div class="form-grid">

                    <!-- State -->

                    <div class="form-group">

                        <label for="{{ form.code.id_for_label }}">

                            <i class="fa-solid fa-map"></i>

                            کپن

                        </label>

                        {{ form.code }}

                        {% if form.code.errors %}

                            <small class="form-error">

                                {{ form.code.errors|striptags }}

                            </small>

                        {% endif %}

                    </div>




                    <div class="form-group">

                        <label for="{{ form.discount_percent.id_for_label }}">

                            <i class="fa-solid fa-city"></i>
                            درصد تخفیف
                        </label>

                        {{ form.discount_percent }}

                        {% if form.discount_percent.errors %}

                            <small class="form-error">

                                {{ form.discount_percent.errors|striptags }}

                            </small>

                        {% endif %}

                    </div>




                    <div class="form-group">

                        <label for="{{ form.max_limit_usage.id_for_label }}">

                            <i class="fa-solid fa-envelope"></i>

                            تعداد مجاز استفاده 

                        </label>

                        {{ form.max_limit_usage }}

                        {% if form.max_limit_usage.errors %}

                            <small class="form-error">

                                {{ form.max_limit_usage.errors|striptags }}

                            </small>

                        {% endif %}

                    </div>




                    <div class="form-group full-width">

                        <label for="{{ form.used_by.id_for_label }}">

                            <i class="fa-solid fa-location-dot"></i>
                            کاربرهای استفاده کرده
                        </label>

                        {{ form.used_by }}

                        {% if form.used_by.errors %}

                            <small class="form-error">

                                {{ form.used_by.errors|striptags }}

                            </small>

                        {% endif %}

                    </div>

                    <div class="form-group full-width">

                        <label for="{{ form.expiration_date.id_for_label }}">

                            <i class="fa-solid fa-location-dot"></i>
                            تاریخ انقضا
                        </label>

                        {{ form.expiration_date }}

                        {% if form.expiration_date.errors %}

                            <small class="form-error">

                                {{ form.expiration_date.errors|striptags }}

                            </small>

                        {% endif %}

                    </div>

                    <div class="form-group full-width">

                        <label for="{{ form.is_default.id_for_label }}">

                            <i class="fa-solid fa-location-dot"></i>
                            کد تخفیف پیش فرض
                        </label>

                        {{ form.is_default }}

                        {% if form.is_default.errors %}

                            <small class="form-error">

                                {{ form.is_default.errors|striptags }}

                            </small>

                        {% endif %}

                    </div>

                </div>
                <div class="form-footer">

                    <a href="javascript:history.back()"
                       class="back-btn">

                        <i class="fa-solid fa-arrow-right"></i>

                        بازگشت

                    </a>

                    <button type="submit"
                            class="save-btn">

                        <i class="fa-solid fa-floppy-disk"></i>

                        ثبت کپن

                    </button>

                </div>

            </form>

        </div>

    </div>

</section>

{% endblock %}