{% extends "base.html" %}
{% load static %}

{% block extra_css %}

{{ block.super }}

<link rel="stylesheet" href="{% static 'css/dashboard/admin/admin_home.css' %}">

{% endblock %}


{% block content %}

<section class="admin-dashboard">

<div class="admin-container">

    <!-- ================= SIDEBAR ================= -->

    <aside class="admin-sidebar">

       <div class="admin-profile">

            <div class="admin-avatar">

                {% if request.user.user_profile.image %}

                    <img
                        src="{{ request.user.user_profile.image.url }}"
                        alt="{{ request.user.user_profile.get_fullname }}">

                {% else %}

                    <i class="fa-solid fa-user-shield"></i>

                {% endif %}

            </div>

            <h2>

                {{ request.user.user_profile.get_fullname }}

            </h2>

            <span>

                مدیر فروشگاه

            </span>
        </div>



        <nav class="admin-menu">

            <a href="#" class="active">

                <i class="fa-solid fa-chart-line"></i>

                <span>

                    داشبورد

                </span>

            </a>

            <a href="{% url 'dashboard:admin:profile-edit' %}">

                <i class="fa-solid fa-user-gear"></i>

                <span>

                    تنظیمات پروفایل

                </span>

            </a>

            <a href="{% url 'dashboard:admin:security-edit' %}">

                <i class="fa-solid fa-shield-halved"></i>

                <span>

                    امنیت

                </span>

            </a>

            <a href="{% url 'dashboard:admin:product-list' %}">

                <i class="fa-solid fa-box-open"></i>

                <span>

                    محصولات

                </span>

            </a>

            <!-- ================= ORDERS ================= -->

            <div class="sidebar-orders">
                <!-- Orders Sub Menu -->

                <div class="sidebar-orders-submenu">

                    <!-- Successful Orders -->

                    <a href="{% url 'dashboard:admin:success-order-list' %}"
                       class="order-sub-link">

                        <span class="sub-link-icon success-sub-icon">

                            <i class="fa-solid fa-circle-check"></i>

                        </span>
                        <span>

                            سفارش‌های موفق

                        </span>

                    </a>


                    <!-- Failed Orders -->

                    <a href="{% url 'dashboard:admin:failed-order-list' %}"
                        class="order-sub-link">
                        <span class="sub-link-icon failed-sub-icon">

                            <i class="fa-solid fa-circle-xmark"></i>

                        </span>

                        <span>

                            سفارش‌های ناموفق

                        </span>

                    </a>

                </div>

            </div>


            <a href="{% url 'dashboard:admin:coupon-list' %}">

                <i class="fa-solid fa-envelope-open-text"></i>

                <span>

                    کد تخفیف ها 

                </span>

            </a>

            <a href="{% url 'dashboard:admin:review-list' %}">

                <i class="fa-solid fa-headset"></i>

                <span>
                    نظرات

                </span>

            </a>


            <hr>

            <a href="{% url 'accounts:logout' %}" class="logout">

                <i class="fa-solid fa-right-from-bracket"></i>

                <span>

                    خروج

                </span>

            </a>

        </nav>

    </aside>



    <!-- ================= CONTENT ================= -->

    <section class="admin-content">

        <div class="admin-header">

            <div>

                <h1>

                    پنل مدیریت فروشگاه

                </h1>

                <p>

                    مدیریت کامل فروشگاه، سفارش‌ها، کاربران و محصولات

                </p>

            </div>

            <div class="admin-badge">

                <i class="fa-solid fa-crown"></i>

                مدیر سیستم

            </div>

        </div>

            <!-- ================= ANNOUNCEMENT ================= -->

            <div class="admin-card admin-welcome">

                <div class="welcome-icon">

                    <i class="fa-solid fa-crown"></i>

                </div>

                <div class="welcome-content">

                    <h2>

                        خوش آمدید مدیر فروشگاه 👋

                    </h2>

                    <p>

                        از این پنل می‌توانید تمامی بخش‌های فروشگاه شامل
                        محصولات، کاربران، سفارش‌ها، تیکت‌ها و خبرنامه را
                        به صورت کامل مدیریت کنید.

                    </p>

                </div>

            </div>

        </div>


    </section>

</div>

</section>

{% endblock %}