{% load static %}

<!DOCTYPE html>
<html lang="fa" dir="rtl">

<head>
    <meta charset="UTF-8">
    <title>تغییر رمز عبور</title>

    <link rel="stylesheet" href="{% static 'css/password_reset_confirm.css' %}">
    <link href="https://fonts.googleapis.com/css2?family=Vazirmatn:wght@300;400;600;700&display=swap" rel="stylesheet">

    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/toastify-js/src/toastify.min.css">
    <script src="https://cdn.jsdelivr.net/npm/toastify-js"></script>
</head>

<body>

<div class="auth-wrapper">

    <div class="auth-box">

        <h1>تغییر رمز عبور</h1>
        <p>رمز عبور جدید خود را وارد کنید</p>

        <form method="POST" class="auth-form">
            {% csrf_token %}

            <label>رمز عبور جدید</label>
            <input type="password" name="password1" placeholder="رمز جدید" required>

            {% for error in form.password1.errors %}
                <div class="error">{{ error }}</div>
            {% endfor %}

            <label>تکرار رمز عبور</label>
            <input type="password" name="password2" placeholder="تکرار رمز" required>

            {% for error in form.password2.errors %}
                <div class="error">{{ error }}</div>
            {% endfor %}

            <button type="submit">ثبت رمز جدید</button>
        </form>

        {% if form.non_field_errors %}
            {% for error in form.non_field_errors %}
                <div class="error">{{ error }}</div>
            {% endfor %}
        {% endif %}

        <div class="auth-links">
            <a href="{% url 'accounts:login' %}">بازگشت</a>
        </div>

    </div>

</div>

{% if messages %}
<script>
    {% for message in messages %}
    Toastify({
        text: "{{ message|escapejs }}",
        duration: 3000,
        gravity: "top",
        position: "right",
        style: {
            background: "#ff3d00"
        }
    }).showToast();
    {% endfor %}
</script>
{% endif %}

</body>
</html>