{% load static %}

<!DOCTYPE html>
<html lang="fa" dir="rtl">

<head>
    <meta charset="UTF-8">
    <title>تایید ایمیل </title>

    <link rel="stylesheet" href="{% static 'css/accounts/password_reset_request.css' %}">

    <link rel="stylesheet"
          href="https://cdn.jsdelivr.net/npm/toastify-js/src/toastify.min.css">

    <script src="https://cdn.jsdelivr.net/npm/toastify-js"></script>

    <link href="https://fonts.googleapis.com/css2?family=Vazirmatn:wght@300;400;600&display=swap"
          rel="stylesheet">
</head>

<body>

{% if messages %}
    {% for message in messages %}
        <script>
            Toastify({
                text: "{{ message|escapejs }}",
                duration: 3000,
                gravity: "top",
                position: "right",
                style: {
                    background: "green"
                }
            }).showToast();
        </script>
    {% endfor %}
{% endif %}

{% if form.errors %}
    {% for field in form %}
        {% for error in field.errors %}
            <script>
                Toastify({
                    text: "{{ error|escapejs }}",
                    duration: 3000,
                    gravity: "top",
                    position: "right",
                    style: {
                        background: "red"
                    }
                }).showToast();
            </script>
        {% endfor %}
    {% endfor %}

    {% for error in form.non_field_errors %}
        <script>
            Toastify({
                text: "{{ error|escapejs }}",
                duration: 3000,
                gravity: "top",
                position: "right",
                style: {
                    background: "red"
                }
            }).showToast();
        </script>
    {% endfor %}
{% endif %}

<div class="auth-wrapper">

    <div class="auth-box">

        <h1>تایید ایمیل </h1>

        <p>
            ایمیل خود را وارد کنید تا لینک فعال سازی اکانت برای شما ارسال شود.
        </p>

        <form method="POST" class="auth-form">

            {% csrf_token %}

            <label for="id_email">ایمیل</label>

            <input
                type="email"
                name="email"
                id="id_email"
                placeholder="example@gmail.com"
                required
            >

            <button type="submit">
                ارسال لینک
            </button>

        </form>

        <div class="auth-links">
            <a href="{% url 'accounts:login' %}">
                بازگشت
            </a>
        </div>

    </div>

</div>

</body>
</html>