{% load static %}

{% block extra_css %}

<link rel="stylesheet" href="{% static 'css/order/order_result.css' %}">


{% endblock %}

{% block content %}

  
    <section class="order-result-page">

    <div class="order-result-container">

        <div class="order-result-card success-card">

            <!-- Success Icon -->

            <div class="result-icon success-icon">

                <i class="fa-solid fa-check"></i>

            </div>


            <!-- Title -->

            <div class="result-content">

                <span class="result-label">

                    پرداخت موفق

                </span>

                <h1>

                    سفارش شما با موفقیت ثبت شد

                </h1>

                <p>

                    پرداخت شما با موفقیت انجام شد و سفارش شما
                    برای پردازش و ارسال آماده شده است.

                </p>

            </div>

            </div>

                <a href="/"
                   class="secondary-result-btn">

                    <i class="fa-solid fa-store"></i>

                    بازگشت به فروشگاه

                </a>

            </div>


{% endblock %}