{% load static %}

{% block extra_css %}

<link rel="stylesheet" href="{% static 'css/order_result.css' %}">


{% endblock %}

{% block content %}

<section class="order-result-page">

    <div class="order-result-container">

        <div class="order-result-card failed-card">

            <!-- Failed Icon -->

            <div class="result-icon failed-icon">

                <i class="fa-solid fa-xmark"></i>

            </div>


            <!-- Content -->

            <div class="result-content">

                <span class="result-label failed-label">

                    پرداخت ناموفق

                </span>

                <h1>

                    ثبت سفارش انجام نشد

                </h1>

                <p>

                    متأسفانه پرداخت سفارش شما با موفقیت انجام نشد.
                    لطفاً دوباره تلاش کنید.

                </p>

            </div>

                <a href="/"
                   class="secondary-result-btn">

                    <i class="fa-solid fa-store"></i>

                    بازگشت به فروشگاه

                </a>

            </div>

        </div>

    </div>

</section>

{% endblock %}